$texto-branco: #ffffff;
$texto-claro: #fbffe3;
$primaria: #e21b5a;
$secundaria: #83a300;
$sombra: #333333;
$fundo: #272c51;
$fonte-titulo: 'Metropolis';
$font-size-padrao: 1.6rem;
$global-radius: 8px;
$global-shadow: -1px 3px 43px 0 rgba(0, 0, 0, 0.34), 0 2px 8px rgba(0,0,0,0.05);

@mixin global-shadow() {
    border-radius: 100px;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.5em;
    outline: none;
    padding: 0 2.2em;
    transition: all 0.2s ease-in-out;
}

@mixin button-template() {
    border-radius: 100px;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.5em;
    outline: none;
    padding: 0 2.2em;
    transition: all 0.2s ease-in-out;
}

@mixin setHover-primario($cor-base) {
    &:hover {
        border-color: darken($cor-base, 10%);
        color: darken($cor-base, 10%);
    }
}
@mixin setHover-secundario($cor-base) {
    &:hover {
        background-color: darken($cor-base, 5%);
        border-color: darken($cor-base, 5%);
        color: darken($texto-branco, 5%);
    }
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 300;
    src: local('Metropolis Light'), url('../fonts/Metropolis-Light.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Regular'), url('../fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    src: local('Metropolis Semi Bold'), url('../fonts/Metropolis-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 800;
    src: local('Metropolis Extra Bold'), url('../fonts/Metropolis-ExtraBold.woff') format('woff');
}

// Usado para centralizar elementos na tela, impedindo que altura
// dos elementos html e body sejam 0
html, body {
    height: 100%;
}

// Usado para diminuir a fonte padrão do navegador de 16px para 10px, 
// e assim poder usar as escalas em/rem na proporção 1/10
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $fundo;
    color: $texto-branco;
    display: flex;
    flex-direction: column;
    font-family: $fonte-titulo;

// font-size padrao: 1.6 (10 pixels)
    font-size: 2.2rem;
    font-weight: 400;
}

.sistema {
    background: rgba(45,70,184,1);
    background:    -moz-linear-gradient(-45deg, rgba(45,70,184,1) 0%, rgba($fundo, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,70,184,1)), color-stop(100%, rgba($fundo, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(45,70,184,1) 0%, rgba($fundo, 1) 100%);
    background:      -o-linear-gradient(-45deg, rgba(45,70,184,1) 0%, rgba($fundo, 1) 100%);
    background:     -ms-linear-gradient(-45deg, rgba(45,70,184,1) 0%, rgba($fundo, 1) 100%);
    background:         linear-gradient(135deg, rgba(45,70,184,1) 0%, rgba($fundo, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d46b8', endColorstr='#272c51', GradientType=1 );
    flex: 1 0 auto;
}

h1 {
    font-size: 4.2rem;
    font-weight: 800;
    position: relative;
}

.sistema h1:after {
    border-radius: $global-radius;
    border-top: 5px solid $primaria;
    bottom: -10px;
    content: '';
    display: block;
    margin: 0 auto;
    width: 150px;
}

.sistema .text-left h1:after {
    margin: 0;
}

.subtitulo {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    text-transform: uppercase;
}

a {
    color: $fundo;
    font-size: 1.6rem;
    font-weight: 500;
}

a:hover {
    color: lighten($fundo, 10%);
}

.bg-formas {
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg-formas .bg-formas__1 {
    background-color: $primaria;
    height: 530px;
    -webkit-mask-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MzkiIGhlaWdodD0iNTMwIj4KICA8cGF0aCBkPSJNNDgzLjgxNCA5My4yNjNjMjQuNzkgNDcuMzEyIDI5LjYxIDEwMS4xOTQgMzkuNDQzIDE1NC42NjYgOS42OTUgNTMuNTUyIDI0LjM3MiAxMDYuODAzIDcuODc1IDE0Ny4wMjYtMTYuNTI2IDQwLjMzMi02NC4zMzUgNjcuNjA3LTExMC4xMTUgODMuMzg4LTQ1Ljc4IDE1Ljc4Mi04OS42MSAxOS45MzEtMTM5LjYwNCAzMC45NjEtNDkuODU0IDEwLjk1LTEwNi4wMDkgMjguODYtMTUxLjExMiAxNC42NzFDODUuMiA1MDkuNzg3IDUxLjAxIDQ2My41OCAyOC4xNjUgNDEyLjkzMSA1LjQyOSAzNjIuMzEyLTYuMDcyIDMwNy4yMjUgMy4yNDMgMjU2Ljc4YzkuMjM1LTUwLjU4NCAzOS4wNjgtOTYuNTgzIDc2Ljg3LTEyOC43NiAzNy45MS0zMi4xNDggODMuNzA4LTUwLjYxMiAxMzMuMTItNzUuNTg4QzI2Mi43OCAyNy4zNzYgMzE2LjA1MS00LjE2MyAzNjUuMTIuNDU0YzQ5LjA2OCA0LjYxNiA5My43OTYgNDUuNDY4IDExOC42OTQgOTIuODA5eiIvPgo8L3N2Zz4K');
            mask-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MzkiIGhlaWdodD0iNTMwIj4KICA8cGF0aCBkPSJNNDgzLjgxNCA5My4yNjNjMjQuNzkgNDcuMzEyIDI5LjYxIDEwMS4xOTQgMzkuNDQzIDE1NC42NjYgOS42OTUgNTMuNTUyIDI0LjM3MiAxMDYuODAzIDcuODc1IDE0Ny4wMjYtMTYuNTI2IDQwLjMzMi02NC4zMzUgNjcuNjA3LTExMC4xMTUgODMuMzg4LTQ1Ljc4IDE1Ljc4Mi04OS42MSAxOS45MzEtMTM5LjYwNCAzMC45NjEtNDkuODU0IDEwLjk1LTEwNi4wMDkgMjguODYtMTUxLjExMiAxNC42NzFDODUuMiA1MDkuNzg3IDUxLjAxIDQ2My41OCAyOC4xNjUgNDEyLjkzMSA1LjQyOSAzNjIuMzEyLTYuMDcyIDMwNy4yMjUgMy4yNDMgMjU2Ljc4YzkuMjM1LTUwLjU4NCAzOS4wNjgtOTYuNTgzIDc2Ljg3LTEyOC43NiAzNy45MS0zMi4xNDggODMuNzA4LTUwLjYxMiAxMzMuMTItNzUuNTg4QzI2Mi43OCAyNy4zNzYgMzE2LjA1MS00LjE2MyAzNjUuMTIuNDU0YzQ5LjA2OCA0LjYxNiA5My43OTYgNDUuNDY4IDExOC42OTQgOTIuODA5eiIvPgo8L3N2Zz4K');
    position: absolute;
    right: -8rem;
    top: -22rem;
    width: 539px;
}

.bg-formas .bg-formas__2 {
    background-color: $secundaria;
    height: 684px;
    left: -32rem;
    -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDQgNjg0Ij4gIDxwYXRoIGQ9Ik00MzYuODcgMTIzLjA0N2M2MC4zMjMgNDguMTk0IDE1NS4wNDkgOTMuNDggMTY1LjI5OCAxNTguODEzIDEwLjEwMiA2NS4xODYtMjIuOTg3IDEzNy4xMTEtNjQuNDIzIDE5OS41MTQtNDEuNDM1IDYyLjU1LTkxLjIxNiAxMTUuNzI1LTE1OC4yNzMgMTU0LjM5Ny02Ny4wNTggMzguODItMTUxLjM5MyA2My4xMzYtMjE2LjQgMzcuOTQtNjUuMTU1LTI1LjA0OS0xMTEuMTI5LTk5LjYxLTEzNS40MzQtMTcxLjk3NUMzLjMzMyA0MjkuMjI2LjY5OCAzNTkuMDU4LjExMiAyNzYuNDQtLjYyIDE5My42NzUuODQ0IDk4LjYwNSA0OC40MyA0OC4yMTNjNDcuNTg1LTUwLjM5MSAxNDEuMjktNTYuMjUgMjIxLjgxOC00MC40MyA4MC41MjcgMTUuOTY3IDEwNi4zIDY3LjA3IDE2Ni42MjQgMTE1LjI2NHoiLz48L3N2Zz4=');
            mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDQgNjg0Ij4gIDxwYXRoIGQ9Ik00MzYuODcgMTIzLjA0N2M2MC4zMjMgNDguMTk0IDE1NS4wNDkgOTMuNDggMTY1LjI5OCAxNTguODEzIDEwLjEwMiA2NS4xODYtMjIuOTg3IDEzNy4xMTEtNjQuNDIzIDE5OS41MTQtNDEuNDM1IDYyLjU1LTkxLjIxNiAxMTUuNzI1LTE1OC4yNzMgMTU0LjM5Ny02Ny4wNTggMzguODItMTUxLjM5MyA2My4xMzYtMjE2LjQgMzcuOTQtNjUuMTU1LTI1LjA0OS0xMTEuMTI5LTk5LjYxLTEzNS40MzQtMTcxLjk3NUMzLjMzMyA0MjkuMjI2LjY5OCAzNTkuMDU4LjExMiAyNzYuNDQtLjYyIDE5My42NzUuODQ0IDk4LjYwNSA0OC40MyA0OC4yMTNjNDcuNTg1LTUwLjM5MSAxNDEuMjktNTYuMjUgMjIxLjgxOC00MC40MyA4MC41MjcgMTUuOTY3IDEwNi4zIDY3LjA3IDE2Ni42MjQgMTE1LjI2NHoiLz48L3N2Zz4=');
    position: absolute;
    top: 22rem;
    width: 604px;
}

.bg-formas .bg-formas__3 {
    background-color: $texto-claro;
    height: 582px;
    -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MzMgNTgyIj4gIDxwYXRoIGQ9Ik01NjkuOTgxIDEwLjc1NWM1MS40MzcgMjcuNDc0IDY2LjM5OCAxMTQuMDIyIDYyLjQwOCAxODkuMzI1LTQuMTMyIDc1LjQ0NS0yNy4yMTQgMTM5LjUwMi02MC4xMjggMTk5LjI5LTMzLjA1NyA1OS42NDQtNzUuOTQ0IDExNC43MzMtMTM2LjY0MyAxNDguNjEyLTYwLjU1NiAzMy44OC0xMzguOTIyIDQ2LjQwNi0xOTguMDUzIDE5LjIxNy01OS4xMzEtMjcuMTg4LTk5LjE3LTkzLjgwOC0xNDYuNDc0LTE2Mi43MDVDNDMuNzg2IDMzNS43MzktMTAuOTI4IDI2NC43MDcgMS44OTYgMjA3LjkwOWMxMi42ODEtNTYuNjU1IDkzLjA0Mi05OS4yMTcgMTYxLjAwNy0xMjMuNzAyIDY4LjEwOC0yNC42MjYgMTIzLjk2Mi0zMS4xNzQgMTk1Ljc3NC01MC4yNDlDNDMwLjYzIDE0Ljg4MyA1MTguNTQ0LTE2LjcxOCA1NjkuOTggMTAuNzU1eiIvPjwvc3ZnPg==');
            mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MzMgNTgyIj4gIDxwYXRoIGQ9Ik01NjkuOTgxIDEwLjc1NWM1MS40MzcgMjcuNDc0IDY2LjM5OCAxMTQuMDIyIDYyLjQwOCAxODkuMzI1LTQuMTMyIDc1LjQ0NS0yNy4yMTQgMTM5LjUwMi02MC4xMjggMTk5LjI5LTMzLjA1NyA1OS42NDQtNzUuOTQ0IDExNC43MzMtMTM2LjY0MyAxNDguNjEyLTYwLjU1NiAzMy44OC0xMzguOTIyIDQ2LjQwNi0xOTguMDUzIDE5LjIxNy01OS4xMzEtMjcuMTg4LTk5LjE3LTkzLjgwOC0xNDYuNDc0LTE2Mi43MDVDNDMuNzg2IDMzNS43MzktMTAuOTI4IDI2NC43MDcgMS44OTYgMjA3LjkwOWMxMi42ODEtNTYuNjU1IDkzLjA0Mi05OS4yMTcgMTYxLjAwNy0xMjMuNzAyIDY4LjEwOC0yNC42MjYgMTIzLjk2Mi0zMS4xNzQgMTk1Ljc3NC01MC4yNDlDNDMwLjYzIDE0Ljg4MyA1MTguNTQ0LTE2LjcxOCA1NjkuOTggMTAuNzU1eiIvPjwvc3ZnPg==');
    position: absolute;
    right: -38rem;
    top: 34rem;
    width: 633px;
}

.bg-formas .bg-formas__1 .blob-shape {
    fill: $primaria;
}

.bg-formas .bg-formas__2 .blob-shape {
    fill: $secundaria;
}

.bg-formas .bg-formas__3 .blob-shape {
    fill: $texto-claro;
}

.nav-nutristable {
    background-color: $texto-claro;
    border-radius: $global-radius;
    box-shadow: $global-shadow;
    height: 2.2em;
    margin: 0 auto;
    min-width: 550px;
    width: 40%;
}

.sistema .nav-nutristable:hover {
    width: 42%;
}

.sistema .nav-nutristable {
    height: auto;
    padding: 0 1em;
    transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.sistema .nav-nutristable .navbar-nav a {
    transition: background-color 200ms ease-out;
}

.sistema .nav-nutristable .navbar-nav a:hover, .navbar-is-selected {
    background-color: rgba($fundo, 0.1);
}

.sistema .nav-nutristable i {
    color: $fundo;
    line-height: 1.6em;
}

.nav-opaco {
    opacity: 0.2;
    transition: all 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav-nutristable:hover .nav-opaco {
    opacity: 1;
}

.logo {
    display: block;
    fill: $texto-branco;
    height: 100px;
    width: 100px;
}

.logo-dark {
    fill: $sombra;
    height: 35px;
    width: auto;
}

// Botões do sistema:
.btn-primario {
    background: 0 0;
    border: 2px solid $texto-branco;
    color: $texto-branco;
    font-size: $font-size-padrao;

@include button-template;

@include setHover-primario($texto-branco);
}

.btn-secundario {
    background: $primaria;
    border: 2px solid $primaria;
    box-shadow: $global-shadow;
    color: $texto-branco;
    font-size: $font-size-padrao;

@include button-template;

@include setHover-secundario($primaria);
}

.btn-cta {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

// CSS do sistema (Biblioteca, Calculadora e Diário)
.imc-main-card {
    cursor: pointer;
}

.imc-main-card, .imc-card-white {
    background-color: $secundaria;
    border-radius: $global-radius;
    box-shadow: $global-shadow;
    margin-top: 2.2em;
    padding: 1.6em;
}

.imc-main-card i {
    color: rgba($texto-branco, 0.5);
    transition: color ease 200ms;
}

.imc-main-card:hover i {
    color: $texto-branco;
}

.imc-main-card p, .imc-card-white p {
    font-size: 1.8rem;
    margin: 0;
}

.imc-card-white {
    background-color: $texto-claro;
    color: $fundo;
    min-height: 210px;
    position: relative;
    transform: translate3d(0,0,0);
    transition-duration: 400ms;
    transition-property: box-shadow,transform;
    transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.imc-card-white:hover {
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.4);
    transform: translate3d(0,-4px,0);
    transition-duration: 600ms;
    transition-property: box-shadow,transform;
    transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.number {
    background: $primaria;
    border-radius: 50%;
    box-shadow: $global-shadow;
    color: $texto-branco;
    font-weight: bold;
    height: 50px;
    left: -0.8em;
    position: absolute;
    top: -1.8rem;
    width: 50px;
}

.number span {
    position: relative;
    top: 2px;
}

.gender-label {
    color: #757575;
    cursor: pointer;
    font-size: 50px;
    margin: 0 1rem;
    transition: all ease 200ms;
}

.gender-label:hover {
    color: #666666;
    text-shadow: 0 10px 15px rgba($fundo, 0.3)
    ;
}

.gender-input {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
    display: none;
    height: 65px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 65px;
    z-index: 100;
}

.gender-input.male:checked + label {
    color: $primaria;
    text-shadow: 0 10px 10px rgba($primaria, 0.2);
}

.gender-input.female:checked + label {
    color: $fundo;
    text-shadow: 0 10px 10px rgba($fundo, 0.2);
}

.tooltip-inner {
    font-size: 1.6rem;
    padding: 1.6rem;
}

.form-control {
    background-color: #666666;
    border: 1px solid #666666;
    color: $texto-claro;
    font-size: 2.2rem;
    height: 4.4rem;
}

.form-control:focus {
    background-color: #777777;
    border-color: none;
    box-shadow: none;
    color: $texto-branco;
}

.input-group-text {
    background-color: $fundo;
    border: 1px solid $fundo;
    color: $texto-claro;
    font-size: 1.6rem;
    padding: 0.375rem 1.6rem;
}

.list-group-item {
    padding: 1.75rem 2.2rem;
}

.list-group-item:first-child {
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
}

.list-group-item:last-child {
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
}

.list-group-item.active {
    background-color: $primaria;
    border-color: $primaria;
}

//
//
// Footer
//
//
footer {
    cursor: default;
    flex-shrink: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

footer, footer i {
    transition: color ease 200ms;
}

footer:hover i {
    color: $primaria;
}

.footer-copyright {
    background-color: $fundo;
    box-shadow: inset 0 5px 10px darken($fundo, 5%);
    color: $texto-claro;
}
